<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Pagina Principal de funcionarios</div>
        
        <a href="/">Volver</a>
        <a href="/funcionarios/crear">Ir a crear funcionarios</a>
        
        <div>
            
            <h2>Funcionarios</h2>
            <div th:each="funcionario : ${funcionarios}">
                <strong>-----------------------------------------------</strong><br>
                <strong>Nombre Del funcionario:</strong><br>
                <span th:text="${funcionario.getNombre()}"></span><br>
                
                <strong>Roles :</strong>
                <div th:each="rol : ${funcionario.getRoles()}" th:text="${rol}"></div><br>
                
                <strong>Sectores: :</strong><br>
                <div th:each="sector : ${funcionario.getSectores()}" th:text="${sector}"></div><br>
                
                <a th:href="@{/funcionarios/modificar/{id}(id=${funcionario.getId()})}">Modificar</a>
            </div>
  
        </div>  

    </body>
</html>
