<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <a href="/profesionalSalud/medicos/titulaciones/">Volver</a>
        
        <form th:action="@{/profesionalSalud/medicos/titulaciones/crear/{id}(id=${id_medico})}" method="post" >
            <label  th:each="especialidad:${especialidades}" >
                <p>Especialidades Disponibles:</p>
                <p th:text="${especialidad.getNombre()}"></p>
                <input type="radio" th:value="${especialidad.getId()}" name="id_especialidad" />
            </label>
            <input type="text" name="universidad" placeholder="Universidad" />
            <input type="date" name="fechaTitulacion" />
            <input type="submit" value="Crear Titulacion"></input>
        </form>
    </body>
</html>
