<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Asignando profesionales de la salud como medico</div>
        
        <a href="/profesionalSalud/medicos/">Volver</a>
        
        <div>
            
            <h2>Profesionales de la salud</h2>
            <h3 th:text="${mensaje}"></h3>
            <div th:each="profesionalSalud : ${profesionalesSalud}">
                <strong>-----------------------------------------------</strong><br>
                <strong>Nombre Del Profesional de la salud</strong><br>
                <span th:text="${profesionalSalud.getFuncionario.getNombre()}"></span><br>
                <strong>Nro Matricula del profesional de la salud</strong><br>
                <span th:text="${profesionalSalud.getNroMatricula()}"></span><br>
                <strong>Nombre funcionario</strong><br>
                <span th:text="${profesionalSalud.getFuncionario.getNombre()}"></span><br>
                <strong>ID del profesional de la salud</strong><br>
                <span th:text="${profesionalSalud.getId()}"></span><br>
                <strong>ID del funcionario</strong><br>
                <span th:text="${profesionalSalud.getFuncionario.getId()}"></span><br>
                
                <a th:href="@{/profesionalSalud/medicos/asignar/{id}(id=${profesionalSalud.getId()})}">Asignar como medico</a>
            </div>
  
        </div>  

    </body>
</html>
