<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Consulta</title>
    <!-- Puedes agregar aquí tus enlaces a CSS, scripts, etc. -->
</head>
<body>
<h2>Crear Consulta</h2>

<form th:action="@{/pacientes/consultas/crear/{id}(id=${paciente.id})}" method="post">
    <!-- Input para la fecha -->
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required>

    <!-- Input para la hora -->
    <label for="hora">Hora:</label>
    <input type="time" id="hora" name="hora" required>

    <!-- Input para el diagnóstico -->
    <label for="diagnostico">Diagnóstico:</label>
    <input type="text" id="diagnostico" name="diagnostico" required>

    <!-- Input para el tipo de atención -->
    <label for="tipoAtencion">Tipo de Atención:</label>
    <input type="text" id="tipoAtencion" name="tipoAtencion" required>

    <!-- Input para los diagnósticos clínicos -->
    <label for="diagnosticosClinicos">Diagnósticos Clínicos:</label>
    <input type="text" id="diagnosticosClinicos" name="diagnosticosClinicos" required>

    <!-- Input para la lista de resultados de estudios -->



    <!-- Input oculto para el ID del paciente -->
    <input type="hidden" id="id" name="id" th:value="${paciente.id}">

    <!-- Botón de envío del formulario -->
    <button type="submit">Crear Consulta</button>
</form>
</body>
</html>