<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Formulario de Modificar Estudio</title>
</head>
<body>
<h1>Formulario de Modificar Estudio</h1>
<form action="/resultado-estudio/modificar" method="post" th:object="${resultadoEstudio}">
  <!-- Campos del formulario para modificar estudio -->
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" th:field="*{nombre}" />

  <button type="submit">Modificar Estudio</button>
</form>
</body>
</html>