<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Página Principal de Resultados de Estudio</title>
</head>
<body>
<h1>Pagina Principal de Resultados de Estudio</h1>

<a href="/">Volver</a>

<div>
  <h2>Resultados de Estudio</h2>
  <div th:each="resultado : ${resultados}">
    <strong>-----------------------------------------------</strong><br>
    <strong>Nombre del Resultado</strong><br>
    <span th:text="${resultado.nombre}"></span><br>
    <strong>ID del Resultado</strong><br>
    <span th:text="${resultado.id}"></span><br>

    <a th:href="@{/resultado-estudio/eliminar/{id}(id=${resultado.id})}">Eliminar Resultado de Estudio</a>
  </div>
</div>

<!-- Enlaces para agregar, eliminar y modificar estudios -->
<a href="/resultado-estudio/agregarEstudio">Agregar Estudio</a>
<a href="/resultado-estudio/eliminar/{id}">Eliminar Estudio</a>
<a href="/resultado-estudio/modificarEstudio/{id}">Modificar Estudio</a>
</body>
</html>

