<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Aca pongo un formulario para modificar los roles de este funcionario</div>
        <strong>Nombre funcionario<strong/>
        <p th:text="${funcionario.getNombre()}"></p>
        <form th:action="@{/funcionarios/roles/asignar/{id_funcionario}(id_funcionario=${funcionario.getId()})}" method="post" >
            <!-- Enumeracion-->
            <label  th:each="rol:${roles}" >
                <p th:text="${rol.getNombre()}"></p>
                <input type="checkbox" th:value="${rol.getId()}" name="roles_id" />
            </label>
            <!-- Opcion extra para quitar roles-->
                
            <input type="submit" value="Modificar Roles"></input>
        </form>
    </body>
</html>
