<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Formulario de login</div>
        <div th:text="${mensaje}"></div>
        
        <form action="/login/iniciarSesion" method="post">
            <input type="email" name="correo" placeholder="gmail">
            <input type="text" name="contraseña" placeholder="contraseña">
            <input type="submit" name="enviar">
        </form>
        
        Temporal para testear
        Admin : func1@gmail.com contraseña : 43524424
        
    </body>
</html>
