<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Lista de pacientes esperando a ser atendidos en un box</div>
        
        <div th:each="paciente : ${pacientes}">
            <strong>-----------------</strong>
            <p th:text="${paciente.getNombre}"></p>
            <p th:text="${paciente.getTriages().get(paciente.getTriages().size()-1).getColor()}"></p>
            <a th:href="@{/pacientes/atenciones/asignar/{id}/{id_paciente}(id=${id_box},id_paciente=${paciente.getId()})}">Agregar paciente al box</a>
        </div>
        
    </body>
</html>
