<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Pagina Principal de Especialidades</div>
        
        <a href="/profesionalSalud/medicos/">Volver</a>
        <a href="/profesionalSalud/medicos/especialidades/crear/">Agregar Especialidad</a>
        <div>
            
            <h2>Especialidades</h2>
            <h3 th:text="${mensaje}"></h3>
            <div th:each="especialidad : ${especialidades}">
                <strong>-----------------------------------------------</strong><br>
                <strong>Nombre De la Especialidad</strong><br>
                <span th:text="${especialidad.getNombre()}"></span><br>  
                <a th:href="@{/profesionalSalud/medicos/especialidades/eliminar/{id}(id=${especialidad.getId()})}">Eliminar Especialidad</a>
            </div>
  
        </div>  

    </body>
</html>
